@import "fonts.css";
@import "media-queries.css";
@import "animations.css";

.underline-hover:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.navbar-background {
    background: linear-gradient(rgb(43, 74, 160), rgb(43, 76, 165));
}

.img-responsive {
    width: auto;
    max-width: 70%;
    height: 100%;
}

.font-bold {
    font-weight: 700;
}

.text-white {
    color: white;
}

.code-link {
    padding-bottom: 100px;
    background-color: #0D131D;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1.4px;
}

.code-link a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 80px;
}

.code-link a::before {
    background: linear-gradient(180deg, #151c26 45%, transparent 0, transparent 55%, #151c26 0);
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: -10px;
    width: 4px;
}

.code-link a:hover:before {
    background: linear-gradient(180deg, #1156c5 45%, transparent 0, transparent 55%, #1156c5 0);
}

.code-link a:hover {
    color: white;
    background-color: #1156c5;
    border-radius: 4px;
    transition: background-color 0.2s linear;

}


.btn-search {
    background-color: #152842;
    border-radius: 14px;
    padding: 6px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
}

.btn-search:hover {
    box-shadow: 0 0 0 0.5px #5599aa;
    transition-duration: 00.3s;
}

.btn-search:hover svg {
    fill: #5599aa;
    transition-duration: 00.3s;
}

.search-input {
    border-radius: 25px;
    background-color: white;
    border: none;
    padding: 6px;
}

.search-input::placeholder {
    color: rgba(143, 143, 145, 0.63);
    font-size: 13px;
}

.search-input:focus {
    outline: 0px;
}

.modal-backdrop {
    opacity: .7 !important;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    position: relative;
    background-image: url('../../public/images/icon-reset.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
}

input::-webkit-search-cancel-button:hover {
    opacity: 1;
}

.clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 35% 95%, 0 90%);
}

.bg-blue {
    background: #2c4369;
}


.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

#home-banner {
    transform: scale(1.45);
    z-index: -1;
    position: relative;
    top: -40px;
    left: 10%;
    filter: grayscale(70%)
}

.ml-10 {
    margin-left: -10px;
}

.relative {
    position: relative;
}

.font-size-8 {
    font-size: 8px;
}


.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-gray {
    color: gray;
}

.font-red {
    color: #ec454f;
}

.modal-content .search-modal {
    border: 1px solid rgba(146, 146, 252, 0.63);
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.modal-content {
    padding: 15px;
    border-radius: 25px;
}

.border-radius-1 {
    border-radius: 4px;
}


.border-radius-2 {
    border-radius: 8px;
}

.border-radius-3 {
    border-radius: 12px;
}

.card-skills {
    background: white;
    border: 1px solid rgba(181, 181, 189, 0.5);
    min-width: 15%;
    text-align: center;
    vertical-align: middle;
}

.card-skills button {
    background-color: #EBEDF1;
    margin: auto;
    margin-top: 15px;
    width: 90%;
}

.card-skills:hover>button {
    display: block !important;
    animation: popup 0.4s;
}

.card-skills:hover div:nth-child(2) {
    display: none !important;
}

.card-skills:hover>button:hover {
    border: 1px solid rgb(55, 100, 180);
    color: rgb(55, 100, 180);
}

.card-skills:hover>button:hover>svg {
    fill: rgb(55, 100, 180);
}

.btn-outline:hover {
    color: #0d6dfd83;
    border-color: #0d6dfd83;

}


/* login */

.login-modal {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    height: 550px;
    width:400px;
    pointer-events: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    background: #152034;
    font-weight: 900;
    font-size: 10pt;
    overflow-y:auto;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    height: 45px;
    font-size: 12pt;
    width: 100%;
    border: 0;
    border-bottom: solid 4px rgb(153, 149, 149);
    accent-color: blue;
}

.login-input:hover {
    border: 0;
    border-bottom: solid 4px rgb(53, 100, 201);
}

.login-input:focus {
    border: 0;
    outline: none;
    border-bottom: solid 4px rgb(53, 100, 201);
}

.login-button {
    position: relative;
    text-align: center;
    height: 45px;
}

.login-google-button {
    position: relative;
    text-align: center;
    height: 45px;
    background: url(../../public/images/google.svg);
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.login-facebook-button {
    position: relative;
    text-align: center;
    height: 45px;
    background: url('../../public/images/facebook.svg') no-repeat center left 10px;
    background-size: 18px;
}

.login-google-button span {
    vertical-align: middle;
}

.login-facebook-button span {
    vertical-align: middle;
}

.line {
    position: relative;
}

.line::before {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: rgb(116, 113, 113);
}

.line span {
    position: absolute;
    background: #152034;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 45px;
}

/*registe form*/

.register-form {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    width:400px;
    height:600px;
    min-width:400px;
    max-height:100vh;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    pointer-events: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    background: #151c26;
    font-weight: 900;
    font-size: 10pt;
    color:#fff;
    padding-right:5%;
    padding-left:5%;
}

.register-input {
    height: 45px;
    font-size: 12pt;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 0;
    border-bottom: solid 4px rgb(153, 149, 149);
    accent-color: blue;
}

.register-input:hover {
    border: 0;
    border-bottom: solid 4px rgb(53, 100, 201);
}

.register-input:focus {
    border: 0;
    outline: none;
    border-bottom: solid 4px rgb(53, 100, 201);

}

/*course cards*/
.w-33 {
    width: 33%;
}

.w-67 {
    width: 67%;
}

.w-2 {
    width: 1rem;
}

.h-1 {
    height: 0.25rem;
}

.w-1 {
    width: 0.25rem;
}

.h-2 {
    height: 1rem;
}

.h-15 {
    height: 15% !important;
}

.w-15 {
    width: 15%;
}

.h-17 {
    height: calc(100% / 6) !important;
}

.h-85 {
    height: 85% !important;
}

.max-h-100 {
    max-height: 100px;
}


.play-button:hover div {
    visibility: hidden;
}

.play-button:hover button {
    display: block !important;
    animation: popup 0.3s linear;
}

.play-button button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #EBEDF1 !important;
    border: solid 1px transparent !important;
}

.margin-1 {
    margin: 1px;
}

.play-button button:hover {
    border: solid 1px blue !important;
    color: blue !important;
    transition: color, border 0.3s;
}

.play-button button:hover svg {
    fill: blue;
    transition: fill 0.3s;
}

.font-semibold {
    font-weight: 600;
}

.type-btn {
    border-radius: 12px;
    outline: none;
    border: 0;
    padding: 4px;
    background: rgba(75, 71, 71, 0.2);
    color: #fff;
}

.type-btn:hover {
    background: #fafafa;
    color: #504848;
    transition: background, color 0.2s;
}

.hidden {
    visibility: hidden;
}

/* footer */

.home-footer {
    background-image: url("../../public/images/mic-drop@2x.webp");
    background-position: 20% 0;
    background-repeat: no-repeat;
    background-size: 150px;
    background-color: #2F4870;
    padding: 0px 130px 20px 130px;
}

.footer-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.footer-email form input[type="email"]:focus {
    outline: none;
    border: 0;
}

.footer-email form input[type="submit"]:focus {
    box-shadow: 2px 2px 10px #0a1520;
}


.footer-link a {
    text-decoration: none;
    color: #7f92ab;
}

.footer-link li:hover a {
    color: #fff;
    cursor: pointer;
    transition: color 0.2s;
}

.list-style-none {
    list-style: none;
}

.flex-grow-2 {
    flex-grow: 2;
}

.footer-background {
    top: 0;
    bottom: 0;
    right: -200px;
    position: absolute;
}


.navbar-links a {
    border: 0;
    height: 100%;
    color: #7f92ab;
    cursor: pointer;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 100;
}

.navbar-links>a:hover::after {
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 4px;
    background-color: blue;
    border-radius: 55px;
    display: block;
}

.navbar-links>a:hover {
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
}

a.active {
    color: #fff;
    transition: color 0.2s;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 4px;
    background-color: blue;
    border-radius: 55px;
    display: block;
}

/*course page*/

.tutor-background {
    position: absolute;
    top: 50%;
    left: 30%;
    opacity: 0.4;
    transform: scale(2, 3);
    filter: grayscale(0.9);
    mask-image: radial-gradient(farthest-side at 50% 48%, black 55%, transparent 95%);
    width: 332px;
    height: 233px;
    aspect-ratio: auto 332 / 233;
    z-index: 2;
    overflow: hidden;
}

.tutor-profile {
    width: 316px;
    height: 444px;
    border-radius: 24px;
}

.course-img {
    width: 210px;
    aspect-ratio: 210 / 209;
    object-fit: contain;

}

.z-index-100>* {
    z-index: 2;
}

.blur-btn {
    background-color: rgb(33, 52, 82, 0.5);
    color: white;
    border-radius: 24px;
    font-weight: 500;
    font-size: 10pt;
    border:0;
    outline:0;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.blur-btn:hover {
    color: #6464da !important;
    background-color: rgb(33, 52, 82, 0.3) !important;
    transition: background-color, border-color 0.2s ease-in-out;
    /*box-shadow:0 0 0 1px #6464da;*/
    border: 1px solid #6464da;
}

.blur-btn:hover * {
    fill: currentColor;
}

.text-black-c {
    color: black;
}

.course-description {
    max-width: 500px;
    font-size: 10pt;
    display: flex;
    align-items: center;
}

.bg-blue {
    background-color: #152034;
}

.inline-line {
    height: 1px;
    width: 100%;
    background-color: #5d5a5a;
    display: inline-block;
    border-radius: 4px;
}

.tutor-card {
    width: 350px;
    margin-top: 10px;
}

.white-space-nowrap {
    white-space: nowrap;
}

.text-gray-900 {
    color: #DCDEE2;
}

.text-blue:hover {
    fill: #6464da;
    color: #6464da;
    transform: scale(1.3);
    transition: all 0.2s ease-in;
}

.circle {
    border-radius: 50%;
}

.bg-blue-c {
    background-color: #17273F;
}

.border-blue {
    border: 2px solid #152034;
}

.square-60 {
    width: 60px;
    height: 55px;
}

.max-height {
    max-height: 2rem;
}

.clamp-1{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.clamp-2 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.delimeter-line {
    width: 1px;
    height: 1.5rem;
    background: rgba(190, 188, 188, 0.2);
    align-self: center;
}

.course-detail {
    background: #EC454F;
    width: 100%;
    overflow: hidden;
    padding: 15px 10px 15px 10px;
    border-radius: 24px;
}

.align-items-center>*,
.align-items-center {
    align-items: center;
}

.vertical-align-middle>*,
.vertical-align-middle {
    align-items: center;
}

.transform-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.transform-center{
    position: absolute;
    top: 50%;
    left:50%;
    translate:-50% -50%;
}

.align-self-center>*,
.align-self-center {
    align-self: center;
}

.outline-blue {
    outline: 2px solid #193152;
}

.success-hover:hover .crp-hover {
    opacity: 1 !important;
    transition: opacity 0.2s ease-out;
}

.success-hover:hover .crp-number {
    opacity: 0 !important;
    transition: opacity 0.2s ease-out;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-transparent{
    background:transparent;
}

.close-hover:hover svg{
    color:blue;
}

.close-hover:hover {
    background:#fafafa;
}

.close-btn{
    position:absolute;
    right:25px;
    top:25px;
    background:#1A2F51;
    border-radius:4px;
}

.br-bg-hover:hover{
    border:1px solid #2F4870;
    background-color: #0E1928;
    transition:all 0.4s ease-out;
}

.br-bg-hover{
    border:1px solid transparent;
    border-radius: 25px;
}

.position-sticky-top{
    position: sticky;
    -webkit-position:sticky;
    top:0;
}

.position-sticky-bottom{
    position: sticky;
    -webkit-position:sticky;
    bottom:0;
}

.position-fixed-top{
    position: fixed;
    top:0;
}

.position-fixed-bottom{
    position: fixed;
    bottom:0;
}

.blue-hover:hover > *{
    fill:#1b61d1;
    color: #1b61d1;
}

.episode-info img{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity:0.1;
}

.episode-info{
    background:linear-gradient(to right,#8D61EB 0 ,#B171BF 50%);
    border-radius:25px;
    position:relative;
    overflow:hidden;
}

.red-hover:hover svg{
    color:red;
    transition:color 0.2s ease-in-out;
}

.grid-3-3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:15px;
}

.grid-item-colspan-1-4{
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-item-colspan-2-4{
    grid-column-start: 2;
    grid-column-end: 4;
}

.bg-blue-2{
    background:#16273F;
}

.parent-right-top{
    position:absolute;
    right:10px;
    top:10px;
}

.parent-right{
    position:absolute;
    right:10px;
    top:50%;
    translate:0 -50%;
}

.parent-left{
    position:absolute;
    left:10px;
    top:50%;
    translate:0 -50%;
}

.parent-left-top{
    position:absolute;
    left:10px;
    top:10px;
}

.purple-border{
    border:3px solid rgb(160, 7, 160);
}

.px-6{
    padding-right:6rem;
    padding-left:6rem;
}

.bg-blue-3-hover:hover{
    background: #193152;
    transition:background 0.3s ease;
}

.disable{
    pointer-events: none;
}

.btn-link{
    outline:0;
    border:0;
    background-color: transparent;
}

.outer{
    border-radius:50%;
    width:40px;
    height:40px;
}

.inner{
    border-radius:50%;
    width:35px;
    height:35px;
    border:2px solid #394a64;
    background:#193152;
}

.flex-grow-shrink-0{
    flex-grow: 0;
    flex-shrink: 0;
}

input[type=checkbox]:checked{
    padding: 3px !important;
    background-color: #1156c5 !important;
}

.hide-scrollbar::-webkit-scrollbar{
    display:none;
}

.hide-scrollbar{
    scrollbar-width:none;
    -ms-overflow-style:none;
}

.bg-light-blue{
    background-color:#E3EBF9;
}

.lighting-hover:hover{
    filter:brightness(2);
}

.overflow-y-auto{
    overflow-y:auto;
}

.new-password-form{
    width:450px;


}
